body{    
    background-color: gray;
    border: 1px solid black;   
}
.center{
text-align: center;
}
#mainContent{   
margin: 10px; 
padding: 20px;   
border: 1px solid black;
text-align: center;
}
.header1{
    margin: 10px; 
    padding: 30px;   
    border: 1px solid black;
    text-align: center;
    position: relative;
    background-color: lightgray;
}
.nav1{
    margin: 10px; 
    padding: 30px;   
    border: 1px solid black;
    text-align: center;
    background-color: antiquewhite;
}
#content{
    margin: 20px; 
    padding: 30px;  
    border: 1px solid black;
    text-align: center;
    min-height: 360px;
    max-width: 400px;
    background-color: lightgray;
}
.header2{
    margin: 10px; 
    padding: 30px;   
    border: 1px solid black;
    text-align: center;
    background-color: antiquewhite;
}
.nav2{
    margin: 10px; 
    padding: 30px;   
    border: 1px solid black;
    text-align: center;
    min-height: 360px;
    max-width: 400px;
    background-color: antiquewhite;
}
.footer1{
    margin: 10px; 
    padding: 30px;   
    border: 1px solid black;
    text-align: center;
    background-color: antiquewhite;
}
.article2{
    min-height: 460px;
    border: 1px solid black;
}
#sectionWrapper{
    min-width: 200px;
    min-height: 180px;
}  
.one{
    height: 210px;
    width: 150px;
    border: 1px solid black;
}
.header3{
    margin: 10px; 
    padding: 30px;   
    border: 1px solid black;
    text-align: center;
    background-color: antiquewhite;
}
.article3{
    margin: 10px; 
    padding: 20px;   
    border: 1px solid black;
    text-align: center;
    background-color: lightgray;
}
.p1{
    margin: 10px; 
    padding: 20px;   
    border: 1px solid black;
    text-align: center;
    background-color: antiquewhite;
}
.p2{
    margin: 10px; 
    padding: 20px;   
    border: 1px solid black;
    text-align: center;
    background-color: antiquewhite;
}
.footer2{
    margin: 10px; 
    padding: 20px;   
    border: 1px solid black;
    text-align: center;
    background-color: antiquewhite;
}
.article4{
    margin: 10px; 
    padding: 20px;   
    border: 1px solid black;
    text-align: center;
    background-color: lightgray;
}
.p3{
    margin: 10px; 
    padding: 20px;   
    border: 1px solid black;
    text-align: center;
    background-color: antiquewhite;
}
.footer3{
    margin: 10px; 
    padding: 20px;   
    border: 1px solid black;
    text-align: center;
    background-color: antiquewhite;
}
.header4{
    margin: 10px; 
    padding: 30px;   
    border: 1px solid black;
    text-align: center;
    background-color: antiquewhite;
}
aside{
    margin: 10px; 
    padding: 30px;   
    border: 1px solid black;
    text-align: center;
    background-color: antiquewhite;
}
.footer4{
    margin: 10px; 
    padding: 20px;   
    border: 1px solid black;
    text-align: center;
    background-color: antiquewhite;
}