*{    
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
  font-size: 1em;    
  box-sizing: border-box;   
   margin: 10px auto;
  }
body{    
  background-color: antiquewhite;        
  display:block;    
  position: relative;
  }
h1{
  font-family: 'Times New Roman', Times, serif;
  font-size: 40px;
  color: #BA4A00;
}
#mainContent{    
  width: 1024px;    
  border: 1pt #BA4A00 solid;
  }
nav{
  text-align: center;
}
.navis, .navis:active{    
  text-decoration: none;   
  color: #424949;    
  display: inline-block;    
  width: 150px;    
  background-color:chocolate;    
  text-align: center;    
  padding: 3px;   
  border-radius: 8px;
}
.navis:hover{    
  color:cornsilk;    
  background-color:brown
}
article{
min-height: 460px;
}
#sectionContent{    
  float:left;    
  height: max-content;    
  width:max-content;    
  margin-left: 20px;
}.one, .two{   
  width: 560px; 
  }
.three{   
  float:right;    
  height:420px;    
  width: 300px;      
  margin-right: 20px; 
 }