body {
  background-color: antiquewhite;
  text-align: left;
}
h1{
  color: black;
  text-align: left;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
#mainContent{
  width: 1024px;
  border: 1pt orange solid;
}
.a, .a:active{
  text-decoration: none;
  color: orange;
  display: inline-block;
  width: 150px;
  background-color: yellowgreen;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
}