body {
  background-color: linen;
}

h1 {
  color: maroon;
  margin: 40px;
} 
ul {
  text-decoration: none;
  color: #000;
  display: inline-block;
  width: 150px;
  background-color: bisque;
  text-align: center;
  padding: 3px;
  border-radius: 8px;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}